.main-nav__list {
  display: grid;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__item {
  text-align: center;
  height: 55px;
  background-color: #81b3d2;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.page-header__logo {
  border: 5px solid #008000;
  outline-offset: -5px;
  height: 84px;
}

@media (max-width: @mobile-width) {
  .logo {
    order: 2;
    background-color: inherit;
  }
}
