@font-face {
  font-family: "ptsans";
  src: url("../fonts/ptsans.woff"),
    url("../fonts/ptsans.woff2");
}

@font-face {
  font-family: "ptsansbold";
  src: url("../fonts/ptsansbold.woff"),
    url("../fonts/ptsansbold.woff2");
}

.main-header {
  text-transform: uppercase;
}

@mobile-width: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;


// color
.page__body {
  margin: 0;
}

.link {
  text-decoration: none;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    color: #000000;
  }
}
